# Garmin TCX Plotter .gitignore

# RStudio project files

.Rproj.user/

# macOS system files

.DS_Store

# R session files

.Rhistory
.RData
.Ruserdata

# Shiny depliyment / runtime files
rsconnect/

# Generated output folders

#Charts/


# Logs or temporary files

*.log
*.tmp
*.cache

